.footer {
  width: 100%;
  bottom: 0;
  position: fixed;

  .footer-left {
    float: left;
    padding: 0 5px 5px 5px;
  }

  .footer-right {
    float: right;
    padding: 0 5px 5px 5px;
  }

  ul, li {
    list-style: none;
    text-decoration:none;
    display:inline-block;
    position: relative;
    bottom: -8px;
  }

  li {
    padding: 0 5px 0 0;
  }
}