.header {
  text-align: center;
  padding: 2.5rem;

  .header-span {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
    height: 110px;
    text-align: center;
  }

  .header-img {
    transition: all 1s ease 0s;
    opacity: 1;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    height: 100%;
    object-fit: contain;
  }
}

.main {
  font-family: Ubuntu,sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0 11vw;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  .main-container {
    display: flex;
    flex-direction: column;
  }

  .sub-container {
    display: grid;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .panel-left {
    aspect-ratio: 1 / 1;
    width: 100%;
    //max-height: 75vh;
    //max-width: 75vh;
    flex: 3 1 0%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .panel-right {
    max-width: 400px;
    height: 75vh;
    overflow: hidden;
  }

  .canvas {
    display: grid;
    max-width: 800px;

    div{
      width: 64px;
      height: 64px;
    }
  }
}

.footer {
  width: 100%;
  bottom: 0;
  position: fixed;

  .footer-left {
    float: left;
    padding: 0 5px 5px 5px;
  }

  .footer-right {
    float: right;
    padding: 0 5px 5px 5px;
  }

  ul, li {
    list-style: none;
    text-decoration:none;
    display:inline-block;
    position: relative;
    bottom: -8px;
  }

  li {
    padding: 0 5px 0 0;
  }
}

.react-select-container {
  .react-select__control {
    background-color: var(--body-bg-color);
    border-color: var(--border-color);
    transition: none;

    &:hover {
      border-color: var(--border-color);
    }
  }

  .react-select__menu {
    background-color: var(--body-bg-color);
    border: 1px solid var(--border-color);
  }

  .react-select__option {
    background-color: var(--body-bg-color);

    &:hover {
      background-color: var(--body-bg-color);
    }
  }

  .react-select__indicator-separator {
    background-color: var(--body-bg-color)var(--border-color);
  }

  .react-select__placeholder,
  .react-select__single-value {
    color: var(--font-color);
  }
}

.custom-button {
  position: relative;
  align-self: flex-start;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  margin-bottom: 0.25rem;

  .button-container {
    box-sizing: border-box; 
    display: inline-block; 
    overflow: hidden; 
    width: initial; 
    height: initial; 
    background: none;
    opacity: 1; 
    border: 0px; 
    margin: 0px; 
    padding: 0px; 
    position: relative; 
    max-width: 100%;

    .button-img-background {
      display: block; 
      max-width: 100%; 
      width: initial; 
      height: initial; 
      background: none; 
      opacity: 1; 
      border: 0px; 
      margin: 0px; 
      padding: 0px;
    }

    .button-img {
      position: absolute; 
      inset: 0px; 
      box-sizing: border-box; 
      padding: 0px; 
      border: none; 
      margin: auto; 
      display: block; 
      width: 0px; 
      height: 0px; 
      min-width: 100%; 
      max-width: 100%; 
      min-height: 100%; 
      max-height: 100%;
    }
  }

  .button-title-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    .button-title {
      position: relative;
      padding: 0.25rem 1.5rem;
      border-radius: 9999px;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 700;
      text-shadow: 0 1px 0 #bc4a4a;
      white-space: nowrap;
      font-size: 1rem;
      line-height: 1.5rem;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}
